.card {
  color: black;
  background-color: #9871a3;
  height:  288pt;
  width: 210pt;
  border: 7pt solid #918421;
  border-radius: 10pt;
  position: absolute;
}
#name-list {
  color: aqua;
  cursor: pointer;
  position: absolute;
  right: 10pt; 
}

.HPand60 {
  position: absolute;
  right: 3pt;
  top: 1pt;
}

.evolvance {
  background-color: white;
}
.attack-name{
  padding-left: 27pt;
}
.damage {
  position: absolute;
  right: 5pt;
}
.picture {
  height: 134pt;
  width: 185pt;
  background-color: blue;
  border: 2pt solid white;
  margin: 9pt
}

body {
  background-color: black;
}
.HP{
  font-size: 7pt;
}
.energy {
  height: 15pt; 
}