.problem {
  width: 100pt;
  position: absolute;
  right: 50pt;
}

.number, .op-line {
  font-size: 30pt;
  text-align: right;
}

.op-line {
  border-bottom: 2pt solid black;
}

#timer {
  font-size: 24pt;
}

#go {
  border: 1pt solid black;
  background: green;
  cursor: pointer;
  padding: 30pt;
/*  margin: 5pt;*/
  font-size: 30pt;
  position: absolute;
/*  right: 45%;*/
  left: 45%;
  top: 45%;
/*  bottom: 45%;*/
}